body{
    margin: 0;
}



#header ul {
    text-align: right;
    padding-right: 5%;

}

#header li {
    display: inline;
    font-weight: 200;
    padding-left: 5%;
    
}
#header a {
    color: #444;
    text-decoration: none;
    font-size: 1.3em;

}


.section-first {
    margin-right: 10%;
    height: 85vh;
    background: url(../img/illustration1.gif) right no-repeat;
    background-size: 30%;
}
.section-first .section-headline {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 45%;
    height: 20%;
    padding-left: 5%;

}
.section-first .section-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
    width: 50%;
    height: fit-content;
    padding-left: 5%;
}
.section-link-download {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    padding: 1% 2%;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.2);
}
.section-link-subscribe {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1% 2%;
    margin-left: 1%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.2);
}


.section-second {
    margin-left: 10%;
    height: 100vh;
    background: url(../img/illustration2.png) left no-repeat;
    background-size: 30%;

}
.section-second .section-headline {
    padding-top: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 45%;
    height: 20%;
    padding-left: 45%;

}
.section-second .section-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
    width: 50%;
    height: fit-content;
    padding-left: 45%;
}

.section-third {
    margin-right: 10%;
    height: 100vh;
    background: url(../img/illustration3.png) right no-repeat;
    background-size: 30%;
}
.section-third .section-headline {
    padding-top: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 45%;
    height: 20%;
    padding-left: 5%;

}
.section-third .section-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
    width: 50%;
    height: fit-content;
    padding-left: 5%;
}


.section-fourth {
    height: 100vh;
}
.section-fourth .section-headline {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 60%;
    height: 20%;
    margin: 0 auto;
}
.section-fourth .section-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 3%;
}
.section-fourth .section-img {
    height: 50vh;
}
.section-fourth .section-img:nth-child(2) {
    margin-left: 5%;
}



.section-fifth {
    height: fit-content;
}
.section-fifth .section-headline {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    text-align: center;

}
.section-fifth .section-paragraph {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 700;
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 3%;
    text-align: center;

}
.section-fifth .section-img {
    width: 40vw;
    margin: 2%;
    padding-left: 4%;
}



.section-sixth {
    height: fit-content;
}
.section-sixth .section-headline {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
}
.section-sixth .section-paragraph {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 5%;
}
.section-sixth .section-article {
    background-color: rgb(148, 177, 230);
    height: 70vh;
    width: 20vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;

}
.section-article .article-headline {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;
    text-transform: capitalize;
   

}
.price {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: bold;

}
.section-sixth span {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: #999;
    padding: 1% 10%;

}
.article-paragraph {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 700;
    
}
.atricle-link {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: rgb(243, 245, 143);
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(6, 21, 243);
    padding: 1% 2%;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.2); 
}



.footer-headline {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: center;    
}
#footer .follow {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #444;
    padding: 1%;
}
.footer-link {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 1.5em;
    text-align: center;
}
#footer ul {
    text-align: center;

}
#footer li {
    display: inline;
    padding: 4%;
}
.span-facebook {
    font-size: 5em;
    color: rgb(57,83,157);

}
.span-twitter {
    font-size: 5em;
    color: rgb(0,154,253);

}
.span-instagram {
    font-size: 5em;
    color: rgb(209,0,143);
}
.span-youtube {
    font-size: 5em;
    color: rgb(255,0,0);

}
